name: Package Add-on

on:
  release:
    types: [created]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Package add-on
        run: |
          zip -r tsv_clipboard_import.ankiaddon tsv_clipboard_import
      - name: Upload release asset
        if: github.event_name == 'release'
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./tsv_clipboard_import.ankiaddon
          asset_name: tsv_clipboard_import.ankiaddon
          asset_content_type: application/zip
      - name: Upload artifact
        if: github.event_name != 'release'
        uses: actions/upload-artifact@v3
        with:
          name: package
          path: tsv_clipboard_import.ankiaddon
